

<div class="left-float-profile">
    <div class="profile_image"><%=image_tag("#{@github_user.retrieve_image}")%></div>
    <div class="p-login-name"><%=@github_user.user.login %></div>
    <div class="Repos"> Repositories <%=@github_user.user_repos.count %></div>
    <div class="Stars"> Stars <%=@github_user.user_starred_repos.count %></div>
    <div class="Following"> Repositories <%=@github_user.user_following.count %></div>
    <div class="Followers"> Repositories <%=@github_user.user_followers.count %></div>


</div>
